*{
  box-sizing: border-box;
  font-size: 14px;
}
.App{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

table{
  width: 70%;
  overflow: hidden;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

img{
  width: 30%;
  height: auto;
}
td{
  width: 23.333%;
}
td::after{
  content: '';
  display: block;
  margin-top: 10%;
}
.nopos{
  position: absolute;
}



